<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="menuCtrl">
    <div class="container">
      <div class="row">
        <h1>Tony's Pizza</h1>
        <h2> {{ model.title }} </h2>

        <div class="col-lg-6">
        <div>
          <input type="radio" name="category" ng-click="changeMainDish('Cheese Pizza')" /> Cheese Pizza
        </div>
        <div>
          <input type="radio" name="category" ng-click="changeMainDish('Pepperoni Pizza')" /> Pepperoni Pizza
        </div>
        <div>
          <input type="radio" name="category" ng-click="changeMainDish('Magherita Pizza')" /> Margherita Pizza
        </div>
        <div>
          <input type="radio" name="category" ng-click="changeMainDish('BBQ Chicken Pizza')"/> BBQ Chicken Pizza
        </div>
        <div>
          <input type="radio" name="category" ng-click="changeMainDish('Combo Pizza')"/> Combo Pizza
        </div>
</div>
</div>
<div class="row">
        <div class="col-lg-6">
          <h3> Selected Item: </h3>
          <pre> {{ model.mainDish.name }} </pre>
      </div>
    </div>
      <div class="row">
    <div class="col-lg-6">
        <h3> Special Instructions </h3>
        <textarea class="form-control" ng-model="model.specialInstructions">
        </textarea>
      </div>
    </div>
      <div>
        <h3> Order Summary </h3>
        <pre> {{ model.mainDish.name }} {{ model.mainDish.price() }} - {{ model.specialInstructions}} </pre>
    </div> <!-- / .container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/menuController.js"></script>

</body>

</html>
